# dot files
/.vscode/launch.json
/.settings
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out

# eide template
*.ept
*.eide-template

#something else
./EIDE_code/src/app/bno055.h
./EIDE_code/src/app/bno055.c
./EIDE_code/src/app/bno055_support.c
./EIDE_code/src/app/Mine_bno055.c
./EIDE_code/src/app/Mine_bno055.h
